{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center">Change Your Password</h2>
          {% include 'includes/form_errors.html' %}
          <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="small mb-1" for="id_old_password">Old Password</label>
                <input type="password" name="old_password" autocomplete="new-password"
                       class="form-control" required id="id_old_password"
                       placeholder="Enter Old Password"/>
            </div>


            <div class="mb-3">
                <label class="small mb-1" for="id_new_password1">Confirm New Password</label>
                <input type="password" name="new_password1" autocomplete="new-password"
                       class="form-control" required id="id_new_password1"
                       placeholder="Enter New Password"/>

            </div>

            <div class="mb-3">

            <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
            <input type="password" name="new_password2" autocomplete="new-password"
                   required id="id_new_password2" class="form-control"
                   placeholder="Confirm New Password"/>
             </div>


            <button type="submit" class="btn btn-primary">Update Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}