{% extends "account/base.html" %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center">Reset Your Password</h2>
          {% include 'includes/form_errors.html' %}
          {% if validlink %}
            <form method="post">
              {% csrf_token %}

              <div class="mb-3">
                <label class="small mb-1" for="id_new_password1">New Password</label>
                <input type="password" name="new_password1" autocomplete="new-password"
                       class="form-control" required id="id_new_password1"
                       placeholder="Enter New Password"/>
              </div>

              <div class="mb-3">
                <label class="small mb-1" for="id_new_password2">Confirm New Password</label>
                <input type="password" name="new_password2" autocomplete="new-password"
                       required id="id_new_password2" class="form-control"
                       placeholder="Confirm New Password"/>
              </div>

              <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
          {% else %}
            <div class="alert alert-warning">
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
